#header{
    display:flex;
    gap:90px;
    color:white;
    background-color: #333;
}
#header div{
    font-size: 20px;
    margin-left:100px;
    padding:20px;
    display: flex;
    justify-content: space-between;
}

#header a{
    text-decoration:none;
    color:white;
}

#header a:hover{
    text-decoration: underline;
}