.form{
    margin:auto; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:3%; 
    border-radius: 20px;
    width:20%;
    margin-top: 50px;
  }
  .form h2{
    text-align: center;
  }
  .form div{
    margin: auto;
    display:flex;
    flex-direction: row;
    gap: 15px
  }
  
  .form p{
    margin-top: 10px;
  }
  
  .form label{
    margin-top: 10px;
  }
  .form select{
    margin-top: 10px;
  }
  
  .form button{
     margin: auto;
     font-size: 16px;
     padding:10px;
     margin: 10px auto auto auto;
     border-radius: 8px;
     border:none;
  }
  
  .form button:hover{
   background-color: black;
   color:white;
   cursor: pointer;
  }

  h2{
    text-align: center;
}
#button button{
    margin: auto;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    padding:10px;
    border-radius: 8px;
    /* border:none; */
}

#button button:hover{
    background-color: rgb(23, 35, 55);
    color:white;
}